@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i|Space+Mono:400|Libre+Franklin:700,900');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 62.5%;
  color: #333;
}
body {
  font-size: 1.8rem;
  line-height: 1.6;
  max-width: 840px;
  margin: 0 auto;
  background: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 4rem;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 900;
}
h2 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 10px;
}
p {
  padding-right: 40px;
}
a {
  color: blue;
  text-decoration: none;
}
nav a, .keywords a {
  border-bottom: 2px solid #eee;
  transition: 0.2s ease;
}
nav a:hover, .keywords a:hover {
  border-bottom-color: blue;
}
nav {
  padding: 0 20px;
  border: 10px;
}
nav a {
  color: #333;
}
nav a:hover {
  color: #333;
}
nav ul {
  text-align: right;
}
nav li {
  display: inline;
  line-height: 100px;
  padding: 0 10px;
}
nav li:first-child {
  padding-left: 0;
}
nav li:last-child {
  padding-right: 0;
}
.logo {
  float: left;
}
.gradient {
  margin: 0 auto;
  width: calc(100% - 40px);
  height: 2px;
  background-image: linear-gradient(to right, red, hotpink, blue, cyan, lightgreen, orange, red);
}
article {
  padding: 20px;
  padding-top: 0;
}
.keywords {
  margin-top: -30px;
  margin-bottom: 40px;
}
.keywords a {
  font-family: 'Space Mono', monospace;
}
.big-media {
  width: 100%;
  margin-top: 40px;
}
.caption {
  text-align: center;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0 40px;
}
.media-container {
  display: flex;
  margin: 40px 0;
}
.small-media {
  width: 50%;
  align-self: center;
}
.media-container .caption {
  width: 50%;
  align-self: center;
  margin: 0;
}
.caption-left {
  text-align: right;
}
.caption-right {
  text-align: left;
}
