@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700|Space+Mono:400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 62.5%;
  color: #333;
}
body {
  font-size: 1.8em;
  line-height: 1.6;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px 60px 20px;
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 1;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 900;
  border-bottom: 2px solid #eee;
}
h2 {
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 30px;
}
p {
  margin-bottom: 20px;
}
img {
  display: block;
}
a {
  color: blue;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: dodgerblue;
}
header {
  background: white;
}
nav {
  display: flex;
}
.burger {
  display: none;
  text-align: right;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav a {
  font-size: 1.1em;
  color: #333;
  line-height: 80px;
  border-bottom: 2px solid #eee;
  transition: border-bottom 0.2s;
}
nav a:hover {
  color: #333;
  border-bottom: 2px solid #ccc;
}
nav li {
  display: inline;
  margin: 0 10px;
}
nav li:last-child {
  margin-right: 0;
}
.gradient {
  margin: 0 auto;
  height: 2px;
  background-image: linear-gradient(to right, red, hotpink, blue, cyan, lightgreen, orange, red);
}
.keywords {
  margin-top: -20px;
  margin-bottom: 40px;
}
.keywords a {
  font-family: 'Space Mono', monospace;
}
.big-media {
  margin-top: 40px;
  width: 100%;
}
.caption {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.caption-left {
  padding-right: 40px;
}
.caption-right {
  padding-left: 40px;
}
.media-container {
  display: flex;
  margin: 40px 0;
}
.small-media {
  width: 50%;
  align-self: center;
}
.media-container .caption {
  width: 50%;
  align-self: center;
  margin: 0;
  text-align: left;
}

/* PAGE CATEGORIES */
.category-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.category {
  flex: 0 0 calc(50% - 15px);
  margin: 10px 10px;
  cursor: pointer;
}
.category:nth-child(2n+1){
  margin-left: 0;
}
.category:nth-child(2n+2){
  margin-right: 0;
}
.category a {
  color: #333;
}
.category a:hover {
  color: #333;
}
.category-img-wrapper {
  overflow: hidden;
}
.category-img {
  max-width: 100%;
  transition: transform 0.2s;
}
.category:hover img {
  transform: scale(1.02);
}
.category-title {
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  border: 1px solid #eee;
}

/* TABLE STUFF */
table {
  margin: 40px auto;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
}
th, td {
  width: 200px;
  border: 1px solid #eee;
  padding: 5px 10px;
}
tr:nth-child(even) {
  background: #eee;
}
blockquote {
  font-size: 1.2em;
  font-style: italic;
  padding-left: 10px;
  margin-bottom: 40px;
}

/* FOR USE WITH JS */
.extra-padding {
  padding-top: 233px;
}
.line-through {
  text-decoration: line-through;
}

/* FRONTPAGE STYLING */
#frontpage {
  padding: 0 20px 40px 20px;
  background: url('assets/frontpage-bg.jpg');
  background-size: cover;
  background-position: top center;
  color: #fff;
  transition: padding 0.2s;
}
#frontpage main {
  border: none;
}
#frontpage nav a {
  color: #fff;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}
#frontpage nav a:hover {
  border-bottom: 2px solid rgba(255,255,255,0.5);
}
#frontpage h1 {
  border-bottom: 2px solid rgba(255,255,255,0.2);
}
#frontpage header {
  background: rgba(255,255,255,0);
}

@media (max-width: 600px) {
  body {
    font-size: 1.7em;
  }
  h1 {
    font-size: 2.2em;
    margin-top: 50px;
  }
  h2 {
    font-size: 1.1em;
    margin-top: 20px;
  }
  .keywords {
    margin-bottom: 20px;
  }
  .big-media {
    margin-top: 50px;
  }
  .caption {
    margin-bottom: 20px;
  }
  .media-container {
    flex-direction: column;
    margin: 30px 0 20px 0;
  }
  .caption-left, .caption-right {
    padding: 0;
  }
  .small-media {
    width: 100%;
    order: -1;
  }
  .media-container .caption {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  body {
    padding-top: 82px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
  }
  nav {
    flex-wrap: wrap;
  }
  .logo {
    flex: 0 0 50%;
  }
  .burger {
    flex: 0 0 50%;
    display: block;
  }
  nav ul {
    flex: 0 0 100%;
    display: none;
    padding-bottom: 40px;
  }
  nav li {
    width: 100%;
    display: block;
    margin: 0;
  }
  nav li a {
    line-height: 2;
  }
  th,td {
    width: 140px;
  }
  #frontpage {
    padding-top: 0;
  }
  #frontpage header {
    position: static;
    padding: 0;
  }
  .category {
    flex: 0 0 100%;
    margin: 20px 0;
  }
}
